body {
	font-family: arial;
	margin: 0;
	background-color: #e8ebf1;
}
.Bwrappers {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

	.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.nav {
	margin-top: -10px;
	list-style: none;
	float: right;
	font-size: 30px;
}
.nav>li {
	display: inline-block;
	font-size: 13px;
	margin-left: 10px; 
	font-weight: 700;
	line-height: 20px;
}
.nav li a {
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 5px 10px;
}
.nav>li:hover {
	border-top: 3px solid #2aacc8;
	color: #2aacc8;
	background-color: white;
}
.nav li a:hover:after {
	color: black;
}

ul.subnav {
	display: none;
	position: absolute;
	width: 200px;
	top: 28px;
	left: inherit;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	background-color: white;
	padding: 0 28px 0 17px;
}

ul.subnav li {
	display: block;
	border-bottom: 1px solid lightgray;
}
ul.subnav li:last-child {
	border-bottom: none;
}
.profile {
	padding: 8px 0 8px 0;
}
ul.subnav li .smiley {
	border-radius: 1em;
	-webkit-box-shadow: 0 0 0 .4em #2C2C2C, inset 0 0 0 .1em #2C2C2C;
	box-shadow: 0 0 0 .4em #2C2C2C, inset 0 0 0 .1em #2C2C2C;
	height: 2em;
	position: relative;
	width: 2em;
	margin-top: 0.3em;
	display: inline-block;
	vertical-align: middle;
}

.smiley::after, .smiley::before {
	background-image: -ms-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: -webkit-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: -moz-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: -o-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: radial-gradient(transparent 35%, #2C2C2C 35%);
	content: '';
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.smiley:after {
	border-radius: 1em 0 0 0;
	left: 0;
}

.smiley:before {
	border-radius: 0 1em 0 0;
	right: 0;
}


ul.subnav > li > a {
	padding: 10px;
	text-decoration: none;
}

ul.subnav > li > a:hover {
	border-top: none;
	color:  #2aacc8;
}

ul.nav > li:hover > ul.subnav {
	display: block;
	z-index: 1;
	border-bottom: 3px solid #2aacc8;
}
.downarrow:after {
	content: "\25be";
	display: inline;
	clear: both;
	outline-width: 700;
	padding-left: 10px;
	padding-bottom: 20px;
} 

.logotype {
	margin-top: 40px;
	font-size: 50px;
	line-height: 20px;
	font-family: Lato;
	font-weight: 900;
	color: black;
}

span {
	color: #2aacc8;
	font-weight: 400;
	vertical-align: top;
}

.foil {
	background-color: #81e4ed;
	padding-top: 20px;
	height: 100%;
}
.foil .bg  {
	background: #dd5835 url(img/wrappers.png) no-repeat center right;
	margin: 0 auto;
	max-width: 1000px;
	height: 440px;
}
.foil ul {
	text-align: center;
	margin: 0;
}

.foil li {
	display: inline-block;
	margin: 12px 9px;
}

.foil a {
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: gray;
	border-radius: 50%;
	vertical-align: middle;
}

.foil a:hover {
	background-color: white;
}

.next {
	padding: 60px 0 50px 0; 
	display: flex;
	justify-content: space-between;
}

.next > div  {
	width: 21.9%;
}

.next h6 {
	margin: 0;
	font-size: 15px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;
}

.next h6:before {
	content: "";
	background-color: #2aacc8;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-position: center;
	margin-right: 5%;
	vertical-align: top;
	margin-bottom: 5%;
}

h6.pencil:before {
	background-image: url(img/pencil.png);
	background-repeat: no-repeat;
}

h6.fullscreen:before {
	background-image: url(img/fullscreen.png);
	background-repeat: no-repeat;
}

h6.lists:before {
	background-image: url(img/list.png);
	background-repeat: no-repeat;
}
h6.plane:before {
	background-image: url(img/airplane.png);
	background-repeat: no-repeat;
}


.next p {
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	color: #363636;
	height: 120px;
	overflow: hidden;
}

.next a {
	color: #2aacc8;
	text-decoration: none;
}

.next a:before {
	content: "\25b8";
	display: inline;
	color: black;
	clear: both;
	padding-right: 10px;
} 

.main {
	background-color: white;
	max-width: 100%;
	padding-bottom: 30px;
}

.latest {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 28px 0 18px 0;
	border-bottom: 1px solid #d3d3d3;
}

.latest ul {
	float: right;
	margin: 0;
}

.latest li {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #2aacc8;
	border-radius: 50%;
	font-weight: 700;
	margin: 0 5px; 
	text-align: center;
	position: relative;
	cursor: pointer;
	vertical-align: bottom;
}
.arrow_left::before,
.arrow_right::before {
	position: absolute;
	width: 7px;
	height: 10px;
	display: inline-block;
	top:1px;
}

.arrow_left::before {
	content: url(img/arrowL.png);
	left: 5px;
}
.arrow_right::before {
	content: url(img/arrowR.png);
	right: 5px;
}

.latest h6 {
	display: inline-block;
	margin: 0;
	padding-left: 40px;
	position: relative;
	font-size: 15px;
	line-height: 20px;
}
.latest h6::before {
	content: url(img/pointer.png);
	position: absolute;
	width: 14px;
	height: 24px;
	display: inline-block;
	top: -4px;
	left: 3px;
}

.pic {
	text-align: center;
	padding: 20px 0 40px 0;
	border-bottom: 1px solid #d3d3d3;
}

.gallery {
	display: inline-block;
	position: relative;
}
.gallery img {
	width: 100%;
	vertical-align: bottom;
}

.other {
	height: 50%;
	width: 100%;
	background-color: #2aacc8;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

.gallery:hover .other {
	display: block;
	height: 50%;
}
.other a {
	margin-top: 30px;
	display: inline-block;
}

.other a:first-child {
	background-image: url(img/eye.png);
	width: 35px;
	height: 25px;
	margin-right: 35px;
}

.other a:last-child {
	background-image: url(img/chain.png);
	width: 20px;
	height: 25px;
}


.person {
	display: inline-block;
	max-width: 49%;
	font-size: 0;
	vertical-align: top;
	padding-bottom: 20px;
}

.person h6 {
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}

.person h6:before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 20px;
	background-image: url(img/comments.png);
	background-repeat: no-repeat;
}
.clientsicon h6:before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 20px;
	background-image: url(img/clients.png);
	background-repeat: no-repeat;
}

.person p {
	font-size: 14px;
	width: 90%;
	font-weight: 400;
	line-height: 24px;
	color: #363636;
	padding: 25px 25px 0 0;
}
.person p:last-child {
	font-weight: 700;
	font-style: italic;
}

.person div {
	padding-top: 20px;
}

.download {
	max-width: 1000px;
	height: 140px;
	background-color: #e8fcfe;
	border: 1px solid #81e4ed;
	margin: 0 auto;
}
.download p {
	width: 607px;
	height: 68px;
	color: #363636;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	display: inline-block;
	padding: 37px 82px 35px 31px;
	margin: 0;
}

.download b {
	display: inline-block;
	color: #0d0707;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
	width: 240px;
	height: 60px;
	vertical-align: text-bottom;
	background-color: #2aacc8;
	background-image: linear-gradient(to top, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
	border: 1px solid #2aacc8;
	border-radius: 8px;
	box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.download b:before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 25px;
	background-image: url(img/download.png);
	background-repeat: no-repeat;
}

.download a {
	color: #0d0707;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

footer {
	text-align: justify;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer > div {
	display: inline-block;
	width: 14%;
	vertical-align: top;
}

footer > div:first-child {
	width: 30%;
}

footer > div:nth-child(4) {
	width: 18%;
}

footer > div:last-child {
	width: 22%;
	text-align: center;
}

footer > div > h6 {
	color: black;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

footer > div > p {
	color: #363636;
	width: 80%;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	margin: 0;
}

footer > div .end {
	margin-top: 25px;
}
footer .strong {
	color: #363636;
	font-size: 14px;
	font-weight: 700;
}
footer > div > ul > li > a {
	line-height: 26px;
	text-decoration: none;
	color: #363636;
	font-size: 14px;
	font-weight: 400;
}

footer > div > a {
	font-size: 70px;
	line-height: 0.8;
}

.finish {
	margin-bottom: 30px;
}

.finish p {
	color: #363636;
	width: 80%;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	float: left;
	margin: 0;
}

.finish a {
	color: #363636;
}
.finish .logotype {
	line-height: 50px;
} 
